
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Message</h2>
<h2>@ViewBag.Message</h2>
<h3>Searche Engines</h3>
<h3>Searche Engines</h3>
<ul>
    <li><a href="https://www.google.com">Google</a></li>
</ul>
